:root {
    --body-color: #f4f4f4;
    --dashboard-color: #ffffff;
    --text-color: #222;
    --card-bg: #ffffff;
    --card-shadow: rgba(0, 0, 0, 0.1);
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --border-color: #ddd;
    --navbar-bg: rgba(51,45,45,1);
    --hover-shadow: rgba(0, 0, 0, 0.658) 5px 25px 50px -12px;
    --navbarlinkcolor: rgba(255, 255, 255, 0.55);

    /* Arama butonu ve giriş kutusu */
    --search-toggle-color: rgba(255, 255, 255, 0.55);
    --search-input-bg: rgba(255, 255, 255, 0.2);
    --search-input-text: #222;
  }

  .darkmode {
      --body-color: #0d0d0d;
      --dashboard-color: rgba(51, 45, 45, 1);
      --text-color: rgba(255, 255, 255, 0.766);
      --card-bg:  #000000;
      --card-shadow: rgba(255, 255, 255, 0.1);
      --primary-color: #c28d41;
      --secondary-color: #a0a0a0;
      --border-color: #333;
      --navbar-bg: rgba(255, 255, 255, 0.863); 
      --hover-shadow: rgba(200, 197, 197, 0.363) 5px 25px 50px -12px;
      --navbarlinkcolor: rgba(0, 0, 0, 0.65);

      /* Arama butonu ve giriş kutusu */
      --search-toggle-color: rgba(155, 150, 150, 0.98);
      --search-input-bg: #bcbaba;
      --search-input-text: #ffffff;
      --mdb--bg-opacity: 1;
      --background-color: rgba(51, 45, 45, var(--mdb--bg-opacity));
  }


  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: var(--body-color);
  }
  
  a {
    text-decoration: none;
    color: black;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: var(--navbarlinkcolor);
  }
  
  /* nav styles */
  
  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    background-color: var(--navbar-bg);
  }
  
  .logo {
    font-size: 1.2rem;
    color: rgb(5, 5, 116);
    padding-left: 20px;
  }
  
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 20px;
    height: 4px;
    margin-bottom: 3px;
    background-color: var(--navbarlinkcolor);
  }
  
  .nav__link {
    position: fixed;
    width: 100%;
    top: 5.3rem;
    left: 0;
    background-color: var(--navbar-bg);
  }
  
  .nav__link a {
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  
  .nav__link a:hover {
    background-color: lightcoral;
  }
  
  .hide {
    display: none;
  }

  .d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-fluid{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 1rem;
    align-items: center;
  }

    .search-container {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 20px;
        overflow: hidden;
    }

    .search-toggle {
        background: none;
        border: none;
        color: var(--search-toggle-color);
        font-size: 18px;
        cursor: pointer;
        transition: 0.3s;
    }

    .search-input {
        width: 0;
        opacity: 0;
        border: none;
        background: var(--search-input-bg);
        color: var(--dashboard-color);
        padding: 5px 10px;
        border-radius: 20px;
        outline: none;
        transition: width 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
        font-size: 14px;
    }

    /* Butona tıklanınca açılma efekti */
    .search-container.active .search-input {
        width: 13vw;
        opacity: 1;
        padding: 5px 15px;
    }

    #theme-switch{
        height: 30px;
        width: 30px;
        padding: 0;
        border-radius: 50%;
        background-color: var(--base-variant);
        display: flex;
        justify-content: center;
        align-items: center;
        order:-1;
      }

      #theme-switch svg{
        fill: var(--primary-color);
      }
      #theme-switch svg:last-child{
        display: none;
      }
      .darkmode #theme-switch svg:first-child{
        display: none;
      }
      .darkmode #theme-switch svg:last-child{
        display: block;
      }

    /*BİLDİRİM */
    .notification {
      position: relative;
    }

    .icon svg {
      cursor: pointer;
      fill: var(--search-toggle-color);
    }
      
    .badge {
      position: absolute;
      top: -2px;
      right: -2px;
      background: rgb(220, 76, 100);
      color: white;
      font-size: 8px;
      font-weight: 600;
      padding: 3px 6px;
      border-radius: 50%;
    }
    /*BİLDİRİM */
  
  @media screen and (min-width: 600px) {
    .nav__link {
      display: flex;
      position: static;
      background: none;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
  
    .nav__link a {
      display: inline-block;
      padding: 10px 10px;
      word-wrap: break-word;
    }
  
    .hamburger {
      display: none;
    }

    .container-fluid{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-left: 1rem;
      margin-right: 3rem;
    }   

    .left-links{
      height: 100%;
      display: flex;
      justify-content: space-between;

    }

    .d-flex{
      gap: 1.5rem;
    }

  }

  @media screen and (max-width: 601px){

  }
  
  @media screen and (min-width: 601px) and (max-width: 992px) {
    .container-fluid{
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin-left: 1.5rem;
    }

    .nav__link {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4.5rem;
        left: 0;
        width: 100%;
        background-color: var(--navbar-bg);
    }

    .left-links{
        display: flex;
      flex-direction: column;
    }

    .nav__link a {
        padding: 10px;
        text-align: center;
    }

    .hamburger {
        display: block; /* Mobil menü simgesi görünür olacak */
        padding-left: 20px;
    }
}