:root{
    ---basecolor: #f4f4f4;
    --sb-size: 14px;
}

.course-text{
    color: #151313;
    font-weight: 600;       
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
    max-width: 80%;
    height: min-content;
    margin: auto;
}

.card{
    background: white;
    padding: 15px;
    border-radius: 12px;
    gap: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.card-head {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    bottom: 5%;
}   

.card-head h2{
    font-size: 1.5rem;
    font-weight: 600;
    color: #151313;
}

.cards-link{
    text-decoration: none;
    transition: box-shadow 0.5s linear, transform 0.7s ease-in-out;
}

.cards-link:hover{
    transform: scale(1.05);
    animation:  blink 0.7s ease 0s 1 forwards;   
}

.card-imgcontainer{
    max-width: 100%;
    height: auto;
}

.card-imgcontainer img{
    max-width: 100%;
}

.user-img-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.user-img {
    max-height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ddd; 
}

.course {
    padding: 10px;
    background: #ddd;
    border-radius: 15px;
    font-size: 0.8rem;
    text-align: left;
    /* Başlangıçta hafif bir gölge ve transition ekliyoruz */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s linear, transform 0.7s ease-in-out;
}

.course:hover {
    transform: scale(1.15);
    box-shadow: rgba(0, 0, 0, 0.658) 5px 25px 50px -12px; /* Hover olduğunda gölge büyüyor */
}

.course svg{
    display: block;
    margin-bottom: 5px;
}

.courses.dashboard{
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card-head a,.card-head i{
    color: rgb(7, 114, 191);
}

.full-width{
    grid-column: span 3;
}

.fa-chevron-right{
    margin-left: 2vh;
}

/*burdan sonrası notlar kısmındaki bara ait alınma*/

.simple-bar-chart{
    --line-count: 10;
    --line-color: currentcolor;
    --line-opacity: 0.25;
    --item-gap: 2%;
    --item-default-color: #060606;
    
    height: 10rem;
    display: grid;
    grid-auto-flow: column;
    gap: var(--item-gap);
    align-items: end;
    padding-inline: var(--item-gap);
    --padding-block: 1.5rem; /*space for labels*/
    padding-block: var(--padding-block);
    position: relative;
    isolation: isolate;
  }
  
  .simple-bar-chart::after{
    content: "";
    position: absolute;
    inset: var(--padding-block) 0;
    z-index: -1;
    --line-width: 1px;
    --line-spacing: calc(100% / var(--line-count));
    background-image: repeating-linear-gradient(to top, transparent 0 calc(var(--line-spacing) - var(--line-width)), var(--line-color) 0 var(--line-spacing));
    box-shadow: 0 var(--line-width) 0 var(--line-color);
    opacity: var(--line-opacity);
  }
  .simple-bar-chart > .item{
    height: calc(1% * var(--val));
    background-color: var(--clr, var(--item-default-color));
    opacity: 0.75;
    position: relative;
    animation: item-height 1s ease forwards
  }
  @keyframes item-height { from { height: 0 } }
  
  .simple-bar-chart > .item > * { position: absolute; text-align: center }
  .simple-bar-chart > .item > .label { inset: 100% 0 auto 0 }
  .simple-bar-chart > .item > .value { inset: auto 0 100% 0 }
  
/*buraya kadar ntolar kısmındaki barlar içindi */

.gray { background: #4A4A4A; }
.green { background: #357b37; }
.lightgreen { background: #6DBF6D; }
.orange { background: #F4A261; }
.blue { background: #4682B4; }
.red { background: #D9534F; }





@media screen and (min-width: 601px) and (max-width: 1280px) {
    .dashboard {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 35px; 
    }

    .course-text,.course-icon{ 
        display: inline-block;
        width: fit-content;
        vertical-align: middle; 
    }
    
    .card{
        grid-column: span 1;
    }

    .card.full-width{
        grid-column: span 2;
    }

    .courses,.card-head{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .courses{
        gap: 20px;
    }

    .course{
        font-size: medium;
        text-align: center;
    }

}

@media screen and (max-width: 601px)  {
    .dashboard {    
        display: flex;
        flex-direction: column;
        gap: 35px; 
    }

    .courses,.card-head{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .course-text,.course-icon{ 
        display: inline-block;
        width: fit-content;
        vertical-align: middle; 
    }

    .course{
        font-size: medium;
        text-align: center;
    }

}

